@import '../theme.scss';
.radio {
    display: inline-block;
    cursor: pointer;
    &>input {
        position: absolute;
        cursor: pointer;
        opacity: 0;
        top: 0;
        left: 0;
        &:checked+span:before {
            border: 1px solid $light-blue;
        }
        &:checked+span:after {
            opacity: 1;
        }
        &:disabled+span:before {
            @include theme() {
                background-color: theme(border);
                border: 1px solid theme(border);
            }
        }
        &:disabled:checked+span:after {
            @include theme() {
                background: theme(background);
            }
        }
        &:disabled:not(:checked)+span:after {
            @include theme() {
                background: theme(border);
            }
        }
    }
    &>span {
        position: relative;
        padding-left: 30px;
        cursor: pointer;
        transition: all .1s;
        &:before {
            // BOX
            position: absolute;
            left: 0;
            width: 20px;
            height: 20px;
            content: '';
            transition: all .1s;
            border-radius: 50%;
            @include theme() {
                background-color: theme(highlight);
                border: 1px solid theme(highlight);
            }
            .light-theme & {
                border: 1px solid map-get(map-get($themes, light), border);
            }
        }
        &:after {
            // MARK
            position: absolute;
            top: 8px;
            left: 8px;
            width: 6px;
            height: 6px;
            content: '';
            transition: all .1s;
            opacity: 0;
            border-radius: 50%;
            background: $light-blue;
        }
    }
    &:hover,
    &:focus {
        &>span:before {
            border-color: $light-blue;
        }
    }
}