@import 'theme.scss';
body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-wrap: wrap;
}

.page {
    padding: 20px;
    box-sizing: border-box;
    width: 33%;
}

.category {
    margin: 0 10px;
    padding: 20px 0;
    @include theme() {
        border-bottom: 1px solid theme(border);
    }
}

.category>* {
    margin: 10px;
}